<div class="rounded-2xl bg-[#042313] text-gray-200 pt-2 px-3">
  <div class="flex">
      <i class=" mr-3 h-2 w-2 bg-red-500 rounded-full mt-2"></i>
      <small class="pt-0.5 mb-3">{{description}}</small>
  </div>
  <div class="mb-4">
    <small class="text-[#567465]">{{date}}</small>
  </div>
  <div>
    <p>Sales revenue increased <br> <span class="text-[#ACDF37]">{{forecastRate}}%</span>{{term}}</p>
  </div>
  <div class="pb-2.5">
    <small class="text-gray-500 ">{{viewDetails}}</small>
  </div>
</div>
